.count_countainer{
    width: 20rem;
    display: flex;
    justify-content: space-around;
}
.count_btn{
    background-color:rgb(104, 70, 239);
    border: none;
}
.count_btn1{
    background-color:rgb(118, 237, 136);
    border: none;
   
}
.count_result{
    color: aliceblue;
    font-size: 1.5rem;
}